* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'Rubik Mono One', sans-serif;
}
h1 {
    font-size: 3rem;
}
    div.container h1 {
        color: yellow;
    }
        main section:last-child h1{
            color: green;
        }
header {
    position: relative;
    top: 0;
    left: 0;
}
header nav {
    position: fixed;
    top: 0;
    right: 0;
}
header nav a {
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}
header nav a span {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section {
    height: 100vh;
    width: 100%;
}
img {
    width: 100%;
}

.red_sect {
    background-color: firebrick;
}

.green_sect {
    background-color: forestgreen;
}

.yellow_sect {
    background-color: gold;
}

.container {
    width: 60%;
    margin: auto;
    padding: 8%;
    text-align: center;
}